.button{
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
}

.button:disabled{
    cursor: default;
    background-color: rgb(64, 162, 201);
}